@inject MyBlazorBattle.Client.Services.IBananaService BananaService

<button @onclick="IncreaseBananaCount" class="btn btn-info">
    +
</button>

@code {
    /*
    바나나를 더하는 기능(IncreaseBananaCount)과 그에 필요한 것들은 service로 다 빼놓고, service에 구현한 기능을 갔다 쓰는거다
    Build 쪽에서 함수 하나를 만든 이유는 Service에 구현되어 있는 기능을 갔다 쓰기 위해서다.
    함수 안에서는 import 한 Service가 인식되고, service에 있는 변와 기능들에 쉽게 접근이 가능하다.
    */
    public void IncreaseBananaCount()
    {
        BananaService.AddBananas(10);
    }
}
