@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<!-- blazor toast 라는 기능을 아무데서나 쓸수있게 해줌 -->
<BlazoredToasts/>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <TopMenu/>
        </div>

        <div class="content px-4">
            @Body
        </div>

    </div>
</div>
